@import './variables';
@import './mixins';

.ngx-datepicker-container[_ngcontent-c3]{
    z-index: 1;
    
}
.ngx-datepicker-container[_ngcontent-c3] .ngx-datepicker-calendar-container[_ngcontent-c3] {

  width: 240px !important;

}

.is-today{
  color: white !important;
}

.is-today:hover{
  color: white !important;
  background: #a4a9b1 !important;
}

.ngx-datepicker-container[_ngcontent-c3] .ngx-datepicker-input[_ngcontent-c3]{
    border: 0 !important;
}

.main-container{
    margin-top: 20px;
    margin-bottom: 20px;
}

// Color to navbar
.navbar-main-color {
  background-color: $main-color;
}

.navbar-secondary-color {
  background-color: $secondary-color !important;
}

// Color to buttons
.main-color{
    color: $main-color;
}

a:hover
{
    color: $main-color;
}

.secondary-color{
    color: $secondary-color;
}

.background-main-color{
    color: #fff;
    background-color: $main-color;
}

.background-secondary-color{
    color: #fff;
    background-color: $secondary-color;
}

.btn-main-color{
    color: #fff;
    background-color: $main-color;
    border-color: $main-color;
}

.btn-secondary-color{
    color: #fff;
    background-color: $secondary-color;
    border-color: $secondary-color;
}

