@import './variables';
@import './mixins';



.nav-tabs .nav-link.active {
    background-color: $secondary-color;
    color: white;
}

a{
    color: $main-color;
}

.main-container{
    margin-top: 20px;
    margin-bottom: 20px;
}

// Color to navbar
.navbar-main-color {
  background-color: $main-color;
}

.navbar-secondary-color {
  background-color: $secondary-color !important;
}

// Color to buttons
.main-color{
    color: $main-color;
}

a:hover
{
    color: $main-color;
}

.secondary-color{
    color: $secondary-color;
}

.background-main-color{
    color: #fff;
    background-color: $main-color;
}

.background-secondary-color{
    color: #fff;
    background-color: $secondary-color;
}

.btn-main-color{
    color: #fff;
    background-color: $main-color;
    border-color: $main-color;
}

.btn-secondary-color{
    color: #fff;
    background-color: $secondary-color;
    border-color: $secondary-color;
}

// Date Picker
.ngx-datepicker-container[_ngcontent-c3]{
    z-index: 1; 
}

.datepicker-container .datepicker-input-container .datepicker-input{ width: 100px !important; }

.ngx-datepicker-container[_ngcontent-c3] .ngx-datepicker-calendar-container[_ngcontent-c3]{
  margin-left: -125px; 
}

.is-today{
  color: white !important;
  background: $secondary-color !important;
}

.is-selected[_ngcontent-c3] {
  background: $main-color !important;
}

.ngx-datepicker-container[_ngcontent-c3] .ngx-datepicker-input[_ngcontent-c3]{
    border: 0 !important;
    width: auto !important;
}

// END Date Picker

